body {
        font-family: "Segoe UI", sans-serif;
        background: #f5f6fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

h1 {
    color: #333;
    margin-bottom: 20px;
}